.div-table {
  display: table;
  width: auto;
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;
  width: auto;
  margin: 0.5em;
}
.seats{
  width: 4em;
}
