/* You can add global styles to this file, and also import other style files */
@import '~mdb-ui-kit/css/mdb.min.css';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 50px;
  background-image: linear-gradient(45deg, rgba(58, 159, 202, 0.61), rgba(35, 47, 52, 0.2) 100%)
}
