<div class = "card">
  <h5 class="card-header info-color lighten-1 white-text text-center py-4">
    <strong>'Add new movie'</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="movieForm" class="text-center" style="color: #757575;" (ngSubmit)="movieAddSubmit()" action="#!">

      <!-- title -->
      <div class="md-form">
        <input mdbInput type="text" id="movie-title" class="form-control" formControlName="Title">
        <label for="movie-title">Title</label>
      </div>

      <!-- year -->
      <div class="md-form mt-0">
        <input mdbInput type="number" id="movie-year" class="form-control" formControlName="Year">
        <label for="movie-year">Year</label>
      </div>

      <!-- director -->
      <div class="md-form mt-0">
        <input mdbInput type="text" id="movie-director" class="form-control" formControlName="Director">
        <label for="movie-director">Director</label>
      </div>

      <!-- Add button -->
      <button class="btn btn-info btn-block my-4" type="submit" [disabled] = "!movieForm.valid">
        Add new movie
      </button>

    </form>
    <!-- Form -->

  </div>

</div>
