<div class = "card">
  <h5 class="card-header info-color lighten-1 white-text text-center py-4">
    <strong>'Add new hall'</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="hallForm" class="text-center" style="color: #757575;" (ngSubmit)="hallAddSubmit()" action="#!">

      <!-- name -->
      <div class="md-form">
        <input mdbInput type="text" id="name" class="form-control" formControlName="Name">
        <label for="name">Hall name</label>
      </div>

      <!-- SizeX -->
      <div class="md-form mt-0">
        <input mdbInput type="number" id="sizeX" class="form-control" formControlName="SizeX">
        <label for="sizeX">Number of columns</label>
      </div>

      <!-- Sizey -->
      <div class="md-form mt-0">
        <input mdbInput type="number" id="sizeY" class="form-control" formControlName="SizeY">
        <label for="sizeY">Number of rows</label>
      </div>

      <!-- Add button -->
      <button class="btn btn-info btn-block my-4" type="submit" [disabled] = "!hallForm.valid">
        Add new hall
      </button>

    </form>
    <!-- Form -->

  </div>

</div>
